#header{ position:relative;}
#nav{ position:absolute; bottom:-1px; left:0;}
#sidebar li.s_widgets{ margin-bottom:15px; height:1%; overflow:auto;}
#sidebar li.widget_rss h3{ height:22px; padding-top:7px;}
#anti_ie6{ text-align:center; background:yellow; line-height:20px; font-size:14px; margin:5px 0; filter:alpha(opacity=80);}
#anti_ie6 p strong{ padding:0 5px;}